@import url("@radix-ui/colors/tomato-dark.css");
@import url("@radix-ui/colors/mauve-dark.css");

body,
html {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

#root {
  height: 100%;
  width: 100%;
}

/* mdxeditor */
.dark-editor {
  --accentBase: var(--tomato-1);
  --accentBgSubtle: var(--tomato-2);
  --accentBg: var(--tomato-3);
  --accentBgHover: var(--tomato-4);
  --accentBgActive: var(--tomato-5);
  --accentLine: var(--tomato-6);
  --accentBorder: var(--tomato-7);
  --accentBorderHover: var(--tomato-8);
  --accentSolid: var(--tomato-9);
  --accentSolidHover: var(--tomato-10);
  --accentText: var(--tomato-11);
  --accentTextContrast: var(--tomato-12);

  --baseBase: var(--mauve-1);
  --baseBgSubtle: var(--mauve-2);
  --baseBg: var(--mauve-3);
  --baseBgHover: var(--mauve-4);
  --baseBgActive: var(--mauve-5);
  --baseLine: var(--mauve-6);
  --baseBorder: var(--mauve-7);
  --baseBorderHover: var(--mauve-8);
  --baseSolid: var(--mauve-9);
  --baseSolidHover: var(--mauve-10);
  --baseText: var(--mauve-11);
  --baseTextContrast: var(--mauve-12);

  --admonitionTipBg: var(--cyan4);
  --admonitionTipBorder: var(--cyan8);

  --admonitionInfoBg: var(--grass4);
  --admonitionInfoBorder: var(--grass8);

  --admonitionCautionBg: var(--amber4);
  --admonitionCautionBorder: var(--amber8);

  --admonitionDangerBg: var(--red4);
  --admonitionDangerBorder: var(--red8);

  --admonitionNoteBg: var(--mauve-4);
  --admonitionNoteBorder: var(--mauve-8);

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;

  color: var(--baseText);
  --basePageBg: #1a1a1a;
  background: var(--basePageBg);
}
/* toolbar */
[dark-theme="dark"] ._toolbarRoot_uazmk_160 {
  background: #303030;
}

/* react-calendar */
.react-calendar {
  background: white;
  border: 1px solid #999;
}
[dark-theme="dark"] .react-calendar {
  background: var(--basePageBg);
  border: 1px solid #999;
}

/* navigation bar */
.react-calendar__navigation button {
  color: black;
}
[dark-theme="dark"] .react-calendar__navigation button {
  color: white;
}
[dark-theme="dark"] .react-calendar__navigation button:hover {
  color: black;
}
[dark-theme="dark"] .react-calendar__navigation button:focus {
  color: black;
}

/* week numbers */
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  color: black;
}
[dark-theme="dark"]
  .react-calendar__month-view__weekNumbers
  .react-calendar__tile {
  color: #606060;
}

/* week day */
.react-calendar__month-view__weekdays__weekday {
  color: black;
}
[dark-theme="dark"] .react-calendar__month-view__weekdays__weekday {
  color: white;
}

/* days of this month */
.react-calendar__month-view__days__day {
  color: black;
}
[dark-theme="dark"] .react-calendar__month-view__days__day {
  color: white;
}

/* today */
.react-calendar__tile--now {
  color: #1087ff;
  background: #bbb;
}
[dark-theme="dark"] .react-calendar__tile--now {
  color: #1087ff;
  background-color: #111;
}

/* active day */
.react-calendar__tile--active {
  color: black;
  background-color: #ddd;
}
[dark-theme="dark"] .react-calendar__tile--active {
  color: white;
  background-color: #333;
}

/* days of last and next month */
.react-calendar__month-view__days__day--neighboringMonth {
  color: #808080;
}
[dark-theme="dark"] .react-calendar__month-view__days__day--neighboringMonth {
  color: #999;
}

/* year view */
.react-calendar__year-view__months__month {
  color: black;
}
[dark-theme="dark"] .react-calendar__year-view__months__month {
  color: white;
}

/* hover */
.react-calendar__tile:hover {
  color: black;
  background-color: white;
}
.react-calendar__tile--now:enabled:hover {
  color: black;
  background: #1087ff;
}
